body {
    background: #16535D;
}

.logo {
    display: inline;
    padding: 2em;
    z-index: 1;
    position: relative;
}

.speel {
    background: #ffffff;
    border: none;
    border-radius: 0.6em;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: #16535D;
}


.speel img {
    width: 0.8em;
}

.zero-state.hidden {
    display: none;
}


.zero-state {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}



/* ================================================================================================================================================================================================================================================================== */

.spel-regels {
    border: #FFFFFF solid .1em;
    max-width: 11em;
    border-radius: 0.6em;
    position: absolute;
    right: 1em;
    top: 1em;
}

.spel-regels button {
    background: transparent;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: #FFFFFF;
    border: none;
    width: 100%;
}

.spel-regels img {
    width: 0.8em;
}

.spel-regels p {
    display: none;
}

.spel-regels p.uitgeklapt {
    display: block;
    padding: 0.5em 0.5em;
    color: #FFFFFF;
}

.spel-regels img.rotate180 {
    rotate: 180deg;
}







/* ================================================================================================================================================================================================================================================================== */
.hangman {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 56em;
    margin: auto;
    margin-top: 5em;
    align-items: flex-end;
}


.linkerKant {
    height: 30em;
    position: relative;
}

.linkerKant img {
    position: absolute;
    top: 0;
    opacity: 0;
}

.linkerKant img.laatZien {
    opacity: 1;

}

.textarea {
    color: white;
    gap: 0.5em;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.keyboard div {
    display: flex;
    align-items: center;
    gap: 0.4em;
    justify-content: center;
    margin: .25em .25em;
}

.keyboard button {
    border-radius: 0.6em;
    background-color: #336067;
    border-style: none;
    color: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.275);
    padding: 1em;
}

.keyboard button.geklikt{
    background-color: #16535D;
}
